<link rel="stylesheet" href="/assets/style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<div class="container">
  <button class="button" onClick="window.location.reload();">Random</button>
  <a class="button" href="/saved"">Saved Colors</a>
  <p id="save"></p>
  <form id="form" method="POST" action="/dashboard">   </form>
  <div class="row">
    <div
      class="column"
      id="left1"
      style="width: auto; height: 70vh; background-color: <%=arr[0]%>"
    ><h2><%=arr[0]%></h2></div>
    <div
      class="column"
      id="left1"
      style="width: auto; height: 70vh; background-color: <%=arr[1]%>"
    ><h2><%=arr[1]%></h2></div>
    <div
      class="column"
      id="left1"
      style="width: auto; height: 70vh; background-color: <%=arr[2]%>"
    ><h2><%=arr[2]%></h2></div>
    <div
      class="column"
      id="left1"
      style="width: auto; height: 70vh; background-color: <%=arr[3]%>"
    ><h2><%=arr[3]%></h2></div>
    <br />
  </div>

  <div class="row">
    <div
      class="column"
      id="left1"
      style="width: auto; height: 7vh; background-color: <%=arr[0]%>"
    >
      <p class="submit1">
        <input type="submit"  onclick="postt(this)" name="color0" value=<%=arr[0]%>></input></p>
    </div>
    <div
      class="column"
      id="left1"
      style="width: auto; height: 7vh; background-color: <%=arr[1]%>"
    >
      <p class="submit2">      
        <input type="submit"  onclick="postt(this)" name="color1" value=<%=arr[1]%> /></p>
    </div>
    <div
      class="column"
      id="left1"
      style="width: auto; height: 7vh; background-color: <%=arr[2]%>"
    >
      <p class="submit3">      
        <input type="submit"  onclick="postt(this)" name="color2" value=<%=arr[2]%> /></p>
    </div>
    <div
      class="column"
      id="left1"
      style="width: auto; height: 7vh; background-color: <%=arr[3]%>"
    >
      <p class="submit4 ">      
        <input type="submit"  onclick="postt(this)" name="color3" value=<%=arr[3]%> /></p>
    </div>
  </div>
  <a class="button" href="/palettedashboard"">Return to Dashboard</a>

</div>


<script type="text/javascript">
 function postt(link){
  $.ajax({
        url: "/dashboard",
        type: "POST",
        data: {
            color:$(link).val()
        }
    })
    document.getElementById("save").innerHTML="Color added"
 }
</script>
